@import "./variables.scss";
@mixin sectionDesign($imageWidth) {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    .header {
        margin-top: 2rem;
        text-align: center;
        text-transform: capitalize;
        h1 {
            color: $primaryColor;
            font-size: 3rem;
        }
        p {
            font-size: 1.6rem;
            margin-top: 0.7rem;
            color: $paragraphTextColor;
        }
    }
    img {
        width: $imageWidth;
    }
    @media screen and (max-width: 909px) {
        height: auto;
        display: none;
        .oqpai-reviews__header {
            width: 90%;
            h1 {
                font-size: 1.7rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}

@mixin reviewCard {
    position: relative;
    width: auto;
    // height: 292px;
    background: #ffffff;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.05);
    border-radius: 25.3423px;
    padding: 3rem 5rem;
    margin-bottom: 2rem;
    color: #404040;
    .profile {
        position: absolute;
        top: -4rem;
        width: 120px;
        left: 50%;
        transform: translateX(-50%);
    }
    .review-stars {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;
        margin-top: 1rem;
        .star {
            width: 16px;
        }
    }
    h6 {
        margin-top: 1.3rem;
        font-size: 1.3rem;
    }
    p {
        font-weight: 300;
        margin-top: 1rem;
    }
    @media screen and (max-width: 909px) {
        padding: 2rem;
        margin-bottom: 3rem;
        .profile {
            width: 100px;
            top: -3rem;
        }
        h6 {
            margin-top: 2rem;
        }
    }
}

.oqpai-career {
    background-color: #f7f7f7;
}

.oqpai-career__intro {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/career/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .intro-content {
        text-align: center;
        width: 40%;
        margin: auto;
        .hashtag {
            color: $primaryColor;
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
        .header {
            font-size: 2.5rem;
            margin-bottom: 1.9rem;
            color: #131313;
            text-align: center;
            strong {
                span {
                    color: $primaryColor;
                }
            }
        }
        .view-opening {
            outline: none;
            border: none;
            border-radius: 16px;
            padding: 1rem 2rem;
            font-size: 1.12rem;
            letter-spacing: 1.6px;
            cursor: pointer;
            color: #fff;
            background: #0b6efd;
            box-shadow: 0px 0px 24.3294px #83b6ff, inset 0px 0px 24.3294px rgba(213, 230, 255, 0.35);
        }
    }
}

.oqpai-career__luggage {
    width: 100%;
    margin: auto;
    padding: 5rem 0;
    .header {
        margin-inline: auto;
        width: 80%;
        color: $primaryColor;
        font-size: 2.5rem;
        text-align: center;
    }
    .luggage-content {
        width: 100%;
        height: auto;
        margin-top: 6rem;
        background-image: url(../assets/career/luggage/background.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        .card-container {
            width: 90%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2rem;
            margin-bottom: 5rem;
            .card {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 2.5rem;
                height: 23rem;
                background-color: white;
                width: 27%;
                border-radius: 22.2773px;
                h2 {
                    width: 70%;
                    opacity: 0;
                    transition: opacity .3s ease-in-out;
                    span {
                        color: #0b6efd;
                    }
                }
                h3 {
                    position: absolute;
                    bottom: 2rem;
                    transition: opacity .3s ease-in-out;
                }
                img {
                    top: -2.5rem;
                    width: 50%;
                    position: absolute;
                    transition: opacity .3s ease-in-out;
                }
                .second {
                    top: -3.3rem;
                }
                .third {
                    width: 80%;
                }
            }
            .card:hover {
                img {
                    opacity: 0;
                }
                h3 {
                    opacity: 0;
                }
                h2 {
                    opacity: 1;
                }
            }
        }
    }
}

.oqpai-career__believe {
    width: 80%;
    margin: auto;
    padding: 5rem 0;
    .header {
        color: $primaryColor;
        font-size: 3rem;
        text-align: center;
    }
    .believe-content {
        display: flex;
        margin-top: 6rem;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        flex-wrap: wrap;
        .card {
            position: relative;
            width: 40%;
            padding: 2rem 1rem;
            border-radius: 1rem;
            background-color: #fff;
            img {
                position: absolute;
                width: 9rem;
                left: -4rem;
                top: 50%;
                transform: translateY(-50%);
            }
            p {
                font-size: 1.4rem;
                color: #404040;
                font-weight: bold;
                margin-left: 7rem;
                span {
                    color: $primaryColor;
                }
            }
        }
    }
}

.oqpai-why__us {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
    .subheader {
        color: #404040;
        font-size: 1.2rem;
    }
    .header {
        text-transform: uppercase;
        margin-top: 1.2rem;
        font-size: 3rem;
        span {
            color: $primaryColor;
        }
    }
    .why-us__content {
        margin-top: 6rem;
        display: flex;
        gap: 2rem;
        .card {
            position: relative;
            background: linear-gradient(133.58deg, #e2eeff 6.2%, #aecefd 106.74%);
            border-radius: 2rem;
            padding: 4rem 2rem 2em 2rem;
            img {
                position: absolute;
                width: 8rem;
                top: -4.4rem;
                left: 50%;
                transform: translateX(-50%);
            }
            h3 {
                font-size: 1.1rem;
            }
            p {
                margin-top: 1rem;
                font-size: 0.9rem;
                color: #404040;
            }
        }
    }
}

.oqpai-career__showcase {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    img {
        width: 80%;
        margin: auto;
    }
}

.oqpai-jobs {
    width: 80%;
    padding: 3rem 0;
    margin: auto;
    text-align: center;
    .header {
        font-size: 3rem;
        color: $primaryColor;
        width: 80%;
        margin: auto;
    }
    .subheader {
        font-size: 1.1rem;
        color: #404040;
        margin-top: 1.3rem;
    }
    .oqpai-cards {
        width: auto;
        margin-top: 3rem;
        height: 16rem;
        overflow: hidden;
        .card {
            margin-top: 4rem;
            position: relative;
            width: auto;
            height: 12rem;
            background: $primaryGradient;
            cursor: pointer;
            transition: all 1s ease-in-out;
            border-radius: 2rem;
            img {
                position: absolute;
                width: 10rem;
                top: -4rem;
                left: 50%;
                transform: translateX(-50%);
                transition: all .3s ease-in-out;
            }
            h4 {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translateX(-50%);
                color: #fff;
                font-size: 1.5rem;
                transition: all .3s ease-in-out;
            }
            button {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translateX(-50%);
                background: linear-gradient(133.58deg, #E2EEFF 6.2%, #AECEFD 106.74%);
                outline: none;
                border: none;
                color: $primaryColor;
                opacity: 0;
                width: 70%;
                padding: 0.75rem 0;
                font-weight: bold;
                border-radius: 10px;
                text-transform: uppercase;
                font-size: 1.1rem;
                cursor: pointer;
                transition: all .3s ease-in-out;
            }
            &:hover {
                img {
                    opacity: 0;
                }
                h4 {
                    top: 25%;
                }
                button {
                    opacity: 1;
                }
            }
        }
    }
}

.oqpai-reviews {
    @include sectionDesign(auto);
    .oqpai-cards {
        // overflow-x:
        height: 22rem;
        display: grid;
        align-items: end;
        width: 100%;
        overflow: hidden;
        .reviewCard {
            @include reviewCard();
        }
    }
    .owl-item.center {
        transform: scale(1) !important;
    }
    .owl-item {
        transform: scale(0.9) !important;
    }
    .owl-item.cloned {
        transform: scale(0.9) !important;
    }
    .owl-item.center.cloned {
        transform: scale(1) !important;
    }
    .oqpai-cards {
        // overflow-x: 
        height: 22rem;
        display: flex;
        align-items: end;
        width: 100%;
        overflow: hidden;
        .reviewCard {
            @include reviewCard();
        }
    }
    .owl-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot {
            span {
                width: 20px !important;
                background: linear-gradient(133.58deg, #E2EEFF 6.2%, #AECEFD 106.74%);
                border-radius: 16.1909px;
            }
        }
        .active {
            span {
                width: 50px !important;
                background: $primaryGradient !important;
                border-radius: 16.1909px;
            }
        }
    }
}

.oqpai-community {
    width: 100%;
    padding: 3.5rem;
    margin: 3rem 0;
    text-align: center;
    background: linear-gradient(133.58deg, #e2eeff 6.2%, #aecefd 106.74%);
    h2 {
        width: 40%;
        margin: auto;
        color: $primaryColor;
        margin-bottom: 1rem;
        span {
            color: #000;
        }
    }
    .view-opening {
        outline: none;
        border: none;
        border-radius: 16px;
        padding: 1rem 2rem;
        font-size: 1.12rem;
        letter-spacing: 1.6px;
        cursor: pointer;
        margin-top: 1rem;
        color: #fff;
        background: #0b6efd;
        box-shadow: 0px 0px 24.3294px #83b6ff, inset 0px 0px 24.3294px rgba(213, 230, 255, 0.35);
    }
}

.oqpai-connect {
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    .header {
        font-size: 3rem;
        color: $primaryColor;
        text-transform: capitalize;
        text-align: center;
    }
    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
        gap: 3rem;
        img {
            filter: grayscale(1) invert(1);
            width: 3rem;
            cursor: pointer;
            transition: opacity 0.5s ease;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

@media screen and (max-width: 909px) {
    .oqpai-career__intro {
        height: 60vh;
        .intro-content {
            width: 80%;
            .hashtag {
                font-size: 1.2rem;
            }
            .header {
                font-size: 1.8rem;
            }
            .view-opening {
                padding: 0.676rem 1.8rem;
                font-size: 1rem;
            }
        }
    }
    .oqpai-career__luggage {
        display: none;
    }
    .oqpai-career__believe {
        width: 90%;
        padding: 3rem 0;
        .header {
            font-size: 1.4rem;
        }
        .believe-content {
            gap: 1.5rem;
            margin-top: 2.5rem;
            .card {
                width: 100%;
                p {
                    font-size: 1.1rem;
                    margin-left: 4.6rem;
                }
                img {
                    left: 0;
                    width: 4.6rem;
                }
            }
        }
    }
    .oqpai-why__us {
        width: 80%;
        padding: 2rem 0;
        .header {
            font-size: 1.8rem;
        }
        .why-us__content {
            margin-top: 4rem;
            flex-direction: column;
            gap: 6rem;
            .card {
                width: 100%;
                padding: 4rem 1.7rem 1.7rem 1.7rem;
                img {
                    width: 6rem;
                    top: -3rem;
                }
            }
        }
    }
    .oqpai-career__showcase {
        padding: 3rem 0;
        img {
            width: 90%;
        }
    }
    .oqpai-jobs {
        width: 90%;
        .header {
            font-size: 1.7rem;
            width: 100%;
        }
        .subheader {
            font-size: 0.9rem;
            margin-top: 0.8rem;
        }
        .oqpai-cards {
            margin-top: 1rem;
            .card {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 6rem;
                    top: -2rem;
                }
                h4 {
                    top: auto;
                    left: auto;
                    transform: translateX(0);
                    position: relative;
                    font-size: 1.2rem;
                    margin-top: 2.9rem;
                }
                button {
                    position: relative;
                    top: auto;
                    left: auto;
                    transform: translateX(0);
                    opacity: 1;
                    margin-top: 1rem;
                    font-size: 0.9rem;
                    padding: 0.55rem 0;
                }
                &:hover {
                    h4 {
                        top: auto;
                    }
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .oqpai-community {
        display: none;
    }
    .oqpai-connect {
        display: none;
    }
}