// Variables
$primaryColor: #0B6EFD;
$secondaryColor: #000;
$paragraphTextColor: #404040;
$primaryGradient: linear-gradient(111.46deg, #9BC1F9 -4.76%, #125DFE 116.39%);
$secondaryGradient: linear-gradient(133.58deg, #E2EEFF 6.2%, #AECEFD 106.74%);