@import './variables.scss';
// Section Design Mixins
@mixin sectionDesign($imageWidth) {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    .header {
        margin-top: 2rem;
        text-align: center;
        text-transform: capitalize;
        h1 {
            color: $primaryColor;
            font-size: 3rem;
        }
        p {
            font-size: 1.6rem;
            margin-top: 0.7rem;
            color: $paragraphTextColor;
        }
    }
    img {
        width: $imageWidth;
    }
}

@mixin reviewCard {
    position: relative;
    width: auto;
    // height: 292px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.05);
    border-radius: 25.3423px;
    padding: 3rem 5rem;
    margin-bottom: 2rem;
    color: #404040;
    .profile {
        position: absolute;
        top: -4rem;
        width: 120px;
        left: 50%;
        transform: translateX(-50%);
    }
    .review-stars {
        display: flex;
        align-items: center;
        gap: .5rem;
        justify-content: center;
        margin-top: 1rem;
        .star {
            width: 16px;
        }
    }
    h6 {
        margin-top: 1.3rem;
        font-size: 1.3rem;
    }
    p {
        font-weight: 300;
        margin-top: 1rem;
    }
}

@mixin card {
    position: relative;
    background: $secondaryGradient;
    height: 14.688rem;
    width: 17rem;
    border-radius: 1.584rem;
    overflow: visible;
    h6 {
        position: absolute;
        font-size: 1rem;
        bottom: 2rem;
        left: 50%;
        max-lines: 2;
        transform: translateX(-50%);
    }
    img {
        width: 80%;
        position: absolute;
        top: -4rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

// Welcome Section
.oqpai-home__section {
    width: 100%;
    height: calc(100vh - 10vh);
    background: url('../assets/welcome/welcome-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    .oqpai-welcome__content {
        width: 80%;
        .col-left {
            h3 {
                color: $secondaryColor;
                font-size: 2.5rem;
                line-height: 3rem;
                font-weight: bold;
            }
            h1 {
                color: $primaryColor;
                font-size: 4rem;
                line-height: 5rem;
                font-weight: bold;
            }
            p {
                color: $primaryColor;
                font-size: 2rem;
                margin-top: 1rem;
            }
        }
        .download__apps {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            img {
                cursor: pointer;
                width: 20%;
                &:nth-child(1) {
                    margin-right: 1.4rem;
                }
            }
        }
    }
}

// Intro Section
.oqpai-intro__section {
    width: 100%;
    height: calc(100vh - 10vh);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    .oqpai-intro__header {
        margin-top: 2rem;
        text-align: center;
        h1 {
            color: $primaryColor;
            font-size: 3rem;
        }
        p {
            font-size: 1.6rem;
            margin-top: 0.7rem;
            color: $paragraphTextColor;
        }
    }
    .oqpai-intro__steps {
        width: 100%;
        background-position: center;
        background-size: cover;
        background-image: url('../assets/welcome/intro_wave.png');
        .oqpai-intro__stepsContent {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            .intro-card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 80%;
                }
                h6 {
                    color: $primaryColor;
                    font-size: 1.2rem;
                }
                .hover-card {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: white;
                    width: 13rem;
                    padding: 1rem;
                    border-radius: 1.584rem;
                    opacity: 0;
                    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.05);
                    transition: all .5s ease-in-out;
                    user-select: none;
                    h4 {
                        color: $primaryColor;
                        font-size: 1rem;
                        text-align: center;
                        margin-bottom: 0.6rem;
                    }
                    p {
                        text-align: center;
                        color: #6B6B6B;
                        font-size: 0.7rem;
                    }
                }
                &:hover {
                    .hover-card {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// Download Our App
.oqpai-download__app {
    @include sectionDesign(35%);
}

// Our Plans
.oqpai-our__plans {
    @include sectionDesign(auto);
    .oqpai-plans {
        overflow: hidden;
        height: 20rem;
        display: grid;
        align-items: end;
        width: 80%;
        .card {
            @include card();
        }
    }
}

// Secure and Safe
.oqpai-secure__safe {
    @include sectionDesign(auto);
    .oqpai-cards {
        // overflow-x: 
        height: 27rem;
        margin-top: 5rem;
        display: grid;
        align-items: end;
        width: 80%;
        overflow: hidden;
        .card {
            @include card();
            img {
                width: 70%;
            }
        }
    }
}

// Our Pricing
.oqpai-our__pricing {
    @include sectionDesign(auto);
    .oqpai-cards {
        // overflow-x: 
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        .pricing__card {
            background: $primaryGradient;
            height: 14.688rem;
            width: 17rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 1.584rem;
            h6 {
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: 2rem;
            }
            &:first-child {
                border-bottom-left-radius: 7rem;
            }
            &:last-child {
                border-bottom-right-radius: 7rem;
            }
        }
    }
}

// Reviews
.oqpai-reviews {
    @include sectionDesign(auto);
    .oqpai-cards {
        // overflow-x: 
        height: 22rem;
        display: grid;
        align-items: end;
        width: 100%;
        overflow: hidden;
        .reviewCard {
            @include reviewCard();
        }
    }
}